@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: "KrutiDev";
  src: url("/public/KRDEV010.TTF") format("truetype");
}
@font-face {
  font-family: "Shivaji";
  src: url("/public/Shivaji01.ttf") format("truetype");
}
